.characters-header div{
  color:grey;
  font-variant: small-caps;
}

.character{
  margin-top:5px;
  font-variant: small-caps;
}

.new-character{
  margin-top:10px;
}

.text-gold {
  color: #ffcf40 !important;
}

.dungeon-list-container{
  margin-top:20px;
}

.dungeon>td>img{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 10px 0 0;
  border-radius: 3px;
  border: 1px solid black;
}

.stars{
  font-size: 6px; 
  position: relative; 
  left: 4px; 
  top: -0.4rem;
  padding-right: 5px;
}

.fs6{
  font-size: 6px;
}


.color-warrior{
  color: rgb(199, 156, 110);
}

.color-paladin{
  color: rgb(245, 140, 186);
}

.color-hunter{
  color: rgb(171, 212, 115);
}

.color-rogue{
  color: rgb(255, 245, 105);
}

.color-priest{
  color: rgb(255, 255, 255);
}

.color-deathknight{
  color: rgb(196, 31, 59);
}

.color-shaman{
  color: rgb(0, 112, 222);
}

.color-mage{
  color: rgb(105, 204, 240);
}

.color-warlock{
  color: rgb(148, 130, 201);
}

.color-monk{
  color: rgb(0, 255, 150);
}

.color-druid{
  color: rgb(255, 125, 10);
}

.color-demonhunter{
  color: rgb(163, 48, 201);
}

body{
  padding-top:60px;
}